/* === Vzhled a rozložení pro Mobilní zařízení === */

/* Pravidla pro obrazovky do 991px (tablety a mobily) */
@media screen and (max-width: 991px) {

    /* Úprava pro zobrazení obsahu na 100% šířky */
    .content-wrap {
        width: 100%;
        max-width: 97%;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hlavní obsah roztáhneme na celou šířku */
    #primary.featured-content {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Postranní panel (sidebar) na mobilu a tabletu úplně skryjeme */
    #secondary.featured-sidebar {
        display: none;
    }
    
    /* === OPRAVA ZAROVNÁNÍ A VÝŠKY HLAVIČKY PRO STŘEDNÍ OBRAZOVKY === */
    .site-branding {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-branding .site-title {
        flex-grow: 1;
        text-align: center;
        margin: 0; /* Odstraní přebytečné okraje */
        padding: 0; /* Odstraní přebytečné odsazení */
        font-size: 22px; /* Nastaví rozumnou velikost pro tablet */
        line-height: 1; /* Sníží výšku řádku */
    }
}

/* Pravidla pro obrazovky do 700px (převážně mobily) */
@media screen and (max-width: 700px) {
    
    /* ODSAZENÍ OBSAHU */
    article .entry-content {
        margin-top: 0px;
        font-size: 16px;
    }

    /* NADPIS APLIKACE (menší pro mobily) */
    .site-branding .site-title {
        font-size: 17px;
    }

    /* POPIS NADPISU APLIKACE */
    .site-branding .site-description {
        font-size: 17px;
    }

    /* NÁZEV PŘÍSPĚVKU */
    h1.entry-title, h2.entry-title, h2.entry-title a:hover, h2.entry-title a:active {
        font-size: 17px!important;
		line-height: 120%;
		color: #870e2c;
    }

    /* TEXT PŘÍSPĚVKU */
    article .entry-content p {
        margin-top: 7px;
        font-size: 16px;
		line-height: 1.3;
    }
}

/* Skrytí popisků pod ikonami papežů a svatých na mobilu */
.page-template-page-home .pope-section-container .grid-item-label,
.page-template-page-home .saints-section-container .grid-item-label {
    display: none;
}